body {
    margin: 0px;
    padding: 0px;
    background-image: url("/assets/images/bg.jpg");
}

/* overlay */
.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.overlay .header {
    height: 33px;
    width: 100%;
    flex-grow: 0;
    align-self: flex-start;
}

.overlay .main-container {
    align-self: stretch;
    flex: 1 100%;
}

.overlay .bottom-bar {
    height: 55px;
    width: 100%;
    background-color: greenyellow;
    align-self: flex-end;
    flex-grow: 0;
}

/* main menu*/
.main-menu {
    padding-left: 15%;
    padding-right: 15%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.main-menu > div {
    margin: 10px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 10px 10px 5px #000;
}

.main-menu svg{
    width: 100%;
    height: 100%;
    padding: 10%;
    fill:white;
}

.main-menu > div:hover,
.main-menu > div.focused{
    box-shadow: none;
}
.main-menu > div:hover > div,
.main-menu > div.focused > div{
    width: 95%;
    height: 95%;
}



/* spit pane*/
.split-container{
    padding: 20px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.split-container > div{
    width: 100%;
    height: 100%;
}

.split-container .left-pane{
    background-color: #ffff00;
    margin-right: 10px;
}
.split-container .right-pane{
    background-color: #008800;
    margin-left: 10px;
}

/* session widget */
session-widget,
[session-widget] {
    display: block;
    width: 300px;
    float: right;
}

session-widget > div > button,
[session-widget] > div > button {
    width: 100%;
    border-top: none !important;
    border-right: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

session-widget > div > ul,
[session-widget] > div > ul {
    width: 100%;
}