<div class="loading-screen" data-ng-class="show">
    <div class='spinner'>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
        <i>
            <b></b>
        </i>
    </div>
</div>