<div class="row">
    <div class="movie-info">
        <div class="row">
            <div class="col-md-8"><h1>Title</h1></div>
            <div class="col-md-4">Stars</div>
            </row>

            <div class="row">
                <div class="column">
                    <div class="row">Foto</div>
                    <div class="row">
                        <button>Play</button>
                        >
                    </div>
                   
                </div>

                <div class="column"> Texto e cenas</div>

            </div>
        </div>
    </div>
</div>