<div class="row">
    <div class="movie-info">
        <div class="row">
            <div class="title-details col-md-8"><h1>Title</h1></div>
            <div class="stars-details col-md-4">Stars</div>
        </div>

        <div class="row">
            <div class="column">
                <div class="front-details row">Foto</div>
                <div class="row">
                    <button>Play</button>

                </div>

            </div>

            <div class="info-details column"> Texto e cenas</div>

        </div>
    </div>
</div>