<div class="media-big">
    <div class="container-fluid">
        <div class="row top-row">
            <div class="title-details col-md-8">
                {{selected.name}}
            </div>
            <div class="star-details col-md-4">
                ESTRELAS
                <star-rating></star-rating>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-4 content-pic">
                FOTO


            </div>
            <div class="star-details col-md-8">
                {{selected.description}}
            </div>
        </div>


    </div>
</div>