<div class="list-component" data-list-component="{{list.name}}">
    <div class="search-bar">
        <input data-ng-model="search[list.content]" >
    </div>
    <ul class="list-content" data-navigation-group="episodeList">
        <li data-ng-repeat-start="season in selectedSeries.seasons | filter:search | orderBy:'-number'"
            class="list-element">Season {{season.number}}
        </li>
        <li data-ng-repeat-end data-ng-repeat="episode in season.episodes | orderBy:'-epNum'"
            class="list-element" data-navigation-id="{{episode.epNum}}" data-season="{{episode.season}}"
            data-ng-click="select(episode.epNum)">{{episode.epNum}} - {{episode.name}}</li>
    </ul>
</div>