<div class="series-info-container">
    <div class="header-block">
        <div class="title">{{selected.name}}</div>
        <div class="rating">stars</div>
    </div>
    <div class="details-block">
        <div class="left">
            <div class="img-wrapper" data-ng-style="{'background-image':'url('+poster+')'}"></div>
            <div class="play">Play</div>
        </div>
        <div class="right">
            <div class="detail-row labeled">
                <div>First aired:</div>
                <div>{{selected.firstAired}}</div>
            </div>
            <div class="detail-row grouped first">
                <div>Plot:</div>
            </div>
            <div class="detail-row grouped last">
                <div>{{selected.plotSummary}}</div>
            </div>
        </div>
    </div>
    <div class="episodes-block" data-ui-view="episodesBlock">
    </div>
</div>