<div class="series-info-container">
    <div class="header-block">
        <div class="title">{{selected.name}}</div>
        <div class="rating">stars</div>
    </div>
    <div class="details-block">
        <div class="left">
            <div class="img-wrapper" data-ng-style="{'background-image':'url('+poster+')'}"></div>
            <div class="play">Play</div>
        </div>
        <div class="right">
            <div class="detail-row labeled">
                <div>First aired:</div>
                <div>{{selected.firstAired}}</div>
            </div>
            <div class="detail-row grouped first">
                <div>Plot:</div>
            </div>
            <div class="detail-row grouped last">
                <div>{{selected.plotSummary}}</div>
            </div>
        </div>
    </div>
    <div class="episodes-block">

    </div>
    <!--<div class="container-fluid series-container">
        <div class="row">
            <div class="col-md-6 name">
                {{selected.name}}
            </div>
            <div class="col-md-4 col-md-offset-2 stars">
                stars
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img data-ng-src="{{poster}}" class="series-poster">
            </div>
            <div class="col-md-8 container-fluid details">
                <div class="row">
                    <div class="col-md-4">First aired:</div>
                    <div class="col-md-8">{{selected.firstAired}}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">Plot:</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{selected.plotSummary}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 series-container">
                <div class="album-container" data-ng-repeat="album in selected.albums">
                    <div class="col-md-12 container-fluid">
                        <div class="row">
                            <div class="col-md-12">{{album.name}}</div>
                        </div>
                        <div class="row container-fluid" data-ng-repeat="song in album.songs">
                            <div class="col-md-12">{{song.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>