.title-details{
    background-color: #fff;
}

.star-details{
    background-color: #000088;
}

.info-details{
    background-color: #245580;
}

.movie-info{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}