.split-container{
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-grow: 99;
}

.split-container > div{
    width: 100%;
    position: relative;
}

.split-container .left-pane{
    margin-right: 10px;
}
.split-container .right-pane{
   margin-left: 10px;
}
