.split-container{
    padding: 20px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.split-container > div{
    width: 100%;
    height: 100%;
}

.split-container .left-pane{
    margin-right: 10px;
}
.split-container .right-pane{
    background-color: #008800;
    margin-left: 10px;
}
