<div class="artist-info-container">
    <div class="container-fluid artist-container">
        <div class="row">
            <div class="col-md-4">
                <img data-ng-src="{{selected.images[selected.images.length-1].webPath}}" class="artist-image">
            </div>
            <div class="col-md-8">
                {{selected.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 albums-container">
                <div class="album-container" data-ng-repeat="album in selected.albums">
                    <div class="col-md-12 container-fluid">
                        <div class="row">
                            <div class="col-md-12">{{album.name}}</div>
                        </div>
                        <div class="row container-fluid" data-ng-repeat="song in album.songs">
                            <div class="col-md-12">{{song.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>